body {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-btn {
    display: block;
}

.time-section {
    display: inline-block;
    margin: 4vw;
    padding: 2vw;
    text-align: center;
}

.count {
    display: block;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin: 1vw;
}

.units {
    color: rgb(234, 180, 73);
    font-size: 2rem;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    cursor: pointer;
    transition: 0.4s;
    padding: 0.6vw;
    margin-inline: 2vw;
    font-size: 1rem;
    width: 7rem;
    display: block;
}

.btn:hover {
    transform: scale(1.1);
    background: rgb(234, 180, 73);
    padding: 0.6vw;
    margin-inline: 2vw;
    font-size: 1rem;
    width: 7rem;
}

.input {
    padding: 0.6vw;
    margin-inline: 2vw;
    font-size: 1rem;
    display: block;
    width: 20vw;
}

.input-main {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;
}